body {
  background: #333;
  color: #090;
  font-family: monospace;
  font-size: 20px; 
  margin: 0;
  padding: 0;
}

a {
  color: #990;
  text-decoration: none;
}

h1 {
  display: block;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

h2 {
  margin: 10px 0;
}

hr {
  background-color: #090;
  border: 0;
  color: #090;
  height: 3px;
  margin: 10px auto;
  width: 100%;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

.section {
  display: block;
  margin: 15px auto;
  width: 700px;
}

.footer:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.left-block {
  display: block;
  float: left;  
  margin: 0;
}

a.social {
  background-size: 100%;
  display: inline-block;
  height: 32px;
  width: 32px;
}

a.facebook {
  background-image: url(http://edwrodrig.github.io/img/icons/facebook.jpg);
}

a.twitter {
  background-image: url(http://edwrodrig.github.io/img/icons/twitter.jpg);
}

a.google-plus {
  background-image: url(http://edwrodrig.github.io/img/icons/google-plus.jpg);
}

.one-third {
  width: 33.3332%;
}

.two-thirds {
  width: 66.6665%;
}