<div id="footer">
<div class="unit two-thirds">
   <p>Copyright © 2014 by <a href="http://edwrodrig.github.io" title="My homepage">{{ site.author_name }}</a><br><a href="https://github.com/edwrodrig/farflight/blob/master/LICENSE">MIT License</a></p>
</div>
<div class="unit one-third content social-buttons">
  <!-- Facebook like button -->
  <a class="social facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fedwrodrig.github.io/farflight/index.html"
	 onclick="window.open(this.href, 'name', 'location=no,status=no,menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
  <!-- Twitter share button -->
  <a class="social twitter" href="https://twitter.com/share?url=http%3A%2F%2Fedwrodrig.github.io/farflight/index.html"
	 onclick="javascript:window.open(this.href, '', 'location=no,status=no,menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
  <!-- Google Plus button -->
  <a class="social google-plus" href="https://plus.google.com/share?url=http%3A%2F%2Fedwrodrig.github.io/farflight/index.html"
	 onclick="javascript:window.open(this.href, '', 'location=no,status=no,menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>
</div>
</div>
