<title>{{ site.title }}</title>
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/WebApplication">

<meta name="description" content="Flight as far as you can without crashing" />

<!-- Google data-->
<meta name="description" content="Flight as far as you can without crashing" />
<meta name="keywords" content="html5 game flight" />

<meta name="author" content="{{ site.author }}" />
<meta name="application-name" content="{{ site.title }}" />

<!-- Google+ data -->
<meta itemprop="name" content="{{ site.title }}">
<meta itemprop="description" content="Flight as far as you can without crashing">
<meta itemprop="image" content="http://edwrodrig.github.io/farflight/img/sshot.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="Flight as far as you can without crashing">
<meta name="twitter:creator" content="{{ site.author_twitter_account }}">
<meta name="twitter:image" content="http://edwrodrig.github.io/farflight/img/sshot.png">

<!-- Open Graph data -->
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://edwrodrig.github.io/farflight/" />
<meta property="og:image" content="http://edwrodrig.github.io/farflight/img/sshot.png" />
<meta property="og:description" content="Flight as far as you can without crashing" />

<link rel="stylesheet" type="text/css" href="style/style.css"/>
<link rel="stylesheet" type="text/css" href="http://edwrodrig.github.io/style/common.css"/>