<title>{{ site.[page.lang].title }}</title>
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/WebApplication">

<meta name="description" content="{{ site.[page.lang].description }}" />

<!-- Google data-->
<meta name="description" content="{{ site.[page.lang].description }}" />
<meta name="keywords" content="html5 game flight" />

<meta name="author" content="{{ site.author.name }}" />
<meta name="application-name" content="{{ site.[page.lang].title }}" />

<!-- Google+ data -->
<meta itemprop="name" content="{{ site.[page.lang].title }}">
<meta itemprop="description" content="{{ site.[page.lang].description }}">
<meta itemprop="image" content="http://edwrodrig.github.io/farflight/img/sshot.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ site.[page.lang].title }}">
<meta name="twitter:description" content="{{ site.[page.lang].description }}">
<meta name="twitter:creator" content="{{ site.author.twitter }}">
<meta name="twitter:image" content="http://edwrodrig.github.io/farflight/img/sshot.png">

<!-- Open Graph data -->
<meta property="og:title" content="{{ site.[page.lang].title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://edwrodrig.github.io/farflight/" />
<meta property="og:image" content="http://edwrodrig.github.io/farflight/img/sshot.png" />
<meta property="og:description" content="{{ site.[page.lang].description }}" />

<link rel="stylesheet" type="text/css" href="style/style.css"/>
<link rel="stylesheet" type="text/css" href="http://edwrodrig.github.io/style/common.css"/>