<!DOCTYPE html>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/WebApplication">

<meta name="description" content="{{ site.description }}" />

<!-- Google data-->
<meta name="description" content="{{ site.description }}" />
<meta name="keywords" content="{{ site.keywords }}" />

<meta name="author" content="{{ site.author.name }}" />
<meta name="application-name" content="{{ site.title }}" />

<!-- Google+ data -->
<meta itemprop="name" content="{{ site.title }}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="{{ site.image.src }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:creator" content="{{ site.author.twitter }}" />
<meta name="twitter:image:src" content="{{ site.image.src }}" />
<meta name="twitter:image:width" content="{{ site.image.width }}" />
<meta name="twitter:image:height" content="{{ site.image.height }}" />

<!-- Open Graph data -->
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.production_url }}" />
<meta property="og:image" content="{{ site.image.src }}" />
<meta property="og:image:width" content="{{ site.image.width }}" />
<meta property="og:image:height" content="{{ site.image.height }}" />

<meta property="og:description" content="{{ site.description }}" />

<link rel="stylesheet" type="text/css" href="style/style.css"/>
<link rel="shortcut icon" href="img/favicon.png"/>